<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>

  </head>
  <body>
    <div th:fragment="footer">
        <div class="col-md-10 offset-md-1">
            <div class="brand-wrap">
                <div class="brand-wrap_ttile mb-3 mt-3">
                  <h4>CHUYÊN TRANG CÁC THƯƠNG HIỆU</h4>
                </div>
                <div class="brand-wrap_content">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="/polyshop/images/Chuyentrangthuonghieu10-576x310.jpg" alt="" width="100%">
                    </div>
                    <div class="col-md-3">
                      <img src="/polyshop/images/Chuyentrangthuonghieu5-576x310.jpg" alt="" width="100%">
                    </div>
                    <div class="col-md-3">
                      <img src="/polyshop/images/Chuyentrangthuonghieu7-576x310.jpg" alt="" width="100%">
                    </div>
                    <div class="col-md-3">
                      <img src="/polyshop/images/Chuyentrangthuonghieu9-576x310.jpg" alt="" width="100%">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
        
              <div class="info-footer">
                <div class="row">
                  <div class="col-md-3">
                    <h5>HỆ THỐNG POLYSHOP</h5>
                    <ul>
                      <li><a href="">Chính sách & quy định chung</a></li>
                      <li><a href="">Chính sách đổi trả</a></li>
                      <li> <a href="">Chính sách bảo hành</a> </li>
                      <li> <a href="">Chính sách giao hàng</a> </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h5>GIỚI THIỆU CÔNG TY</h5>
                    <ul>
                      <li><a href="">Giới thiệu</a></li>
                      <li><a href="">Tin tức</a></li>
                      <li> <a href="">Tin khuyến mãi</a> </li>
                      <li> <a href="">Tuyển dụng</a> </li>
                      <li> <a href="">Quan hệ cổ đông</a> </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                    <ul>
                      <li><a href="">Hỗ trợ mua hàng trực tuyến</a></li>
                      <li><a href="">Các hình thức thanh toán</a></li>
                      <li><a href="">Hướng dẫn mua hàng trực tuyến</a></li>
                      <li><a href="">Phát hành hóa đơn</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h5>CHẤP NHẬN THANH TOÁN</h5>
                    <img src="../assets/images/payment.png" alt="">
                  </div>
                </div>
              </div>
        </div>
      
        <div class="alert alert-dark alert-dark-footer text-center">
            © PolyShop 2022. All rights reserved.
        </div>
    </div>
  </body>
  </html>
