
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutSite.html}">

<head>
</head>

<body>

    <div layout:fragment="content">

        <div class="detail-order-customer col-10 offset-1 mb-5">
            <div class="detail-order">
                <div class="row" style="justify-content: space-between;">
                    <h2> Chi tiết đơn hàng</h2>
                    <a th:href="@{/order/customer}" class="btn btn-info" style="padding-top: 10px;">Danh sách đơn hàng</a>
                </div>
                <hr>
                <form action="">
                    <div class="info">
                        <div class="row">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h6><i class="fa-solid fa-circle-info"></i> Thông tin đơn hàng</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p>Mã đơn hàng: </p>
                                            <p>Ngày đặt hàng: </p>
                                        </div>
                                        <div class="float-right text-right">
                                            <input type="hidden">
                                            <p><b>[[${order.orderId}]]</b></p>
                                            <input type="hidden">
                                            <p><b th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy')}"></b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h6><i class="fa-solid fa-money-check-dollar"></i> Thanh toán</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p>Trạng thái thanh toán:</p>
                                            <p>Hình thức thanh toán:</p>
                                        </div>
                                        <div class="float-right text-right">
                                            <p><b th:text="${order.statusCheckout} == false ? 'Chưa thanh toán' : 'Đã thanh toán'"></b></p>
                                            <p><b>Thanh toán trực tiếp</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h6><i class="fa-solid fa-truck-fast"></i> Giao hàng</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="float-left">
                                            <p>Trạng thái giao hàng:</p>
                                            <p>Hình thức giao hàng:</p>
                                        </div>
                                        <div class="float-right text-right">
                                            <p><b th:switch="${order.status}"> 
                                                <span th:case="0">Đang xử lý</span>
                                                <span th:case="1">Đang vận chuyển</span>
                                                <span th:case="2">Đã giao</span></b></p>
                                            <p><b>Giao hàng tận nơi</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row main mt-4">
                        <div class="col-9 info-product">
                            <h5><i class="fa-solid fa-cart-arrow-down"></i> Thông tin sản phẩm</h5>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="line-height: 50px;" th:each="item : ${listOrderDetails}">
                                        <td style="max-width: 50px;"><img th:src="@{${'/upload/' + item.product.image}}"
                                                width="100%"></td>
                                        <td style="word-wrap: break-word; max-width: 350px;">[[${item.product.name}]]</td>
                                        <td style="width: 100px;">[[${item.quantity}]]</td>
                                        <td>[[${#numbers.formatDecimal(item.unitPrice, 0, 'POINT', 0, 'POINT')}]]
                                            <span class="vnd">đ</span>
                                        </td>
                                        <td>[[${#numbers.formatDecimal(item.quantity * item.unitPrice, 0, 'POINT', 0,
                                            'POINT')}]]
                                            <span class="vnd">đ</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="offset-6 mt-5">
                                <div class="float-left">
                                    <p>Tổng tiền: </p>
                                    <p>Phí vận chuyển: </p>
                                    <p>Giảm giá: </p>
                                    <h6>Tổng tiền thanh toán: </h6>
                                </div>
                                <div class="float-right text-right">
                                    <p>[[${#numbers.formatDecimal(total, 0, 'POINT', 0, 'POINT')}]]đ</p>
                                    <p>0đ</p>
                                    <p>0đ</p>
                                    <h6 style="color: crimson;">[[${#numbers.formatDecimal(total, 0, 'POINT', 0, 'POINT')}]]đ
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 info-customer">
                            <h5><i class="fa-solid fa-user-large"></i> Thông tin khách hàng</h5>
                            <hr>
                            <div class="form-group">
                                <label for="name"><b>Họ tên</b></label>
                                <p th:text="${order.name}"></p>
                            </div>
                            <div class="form-group">
                                <label for="phone"><b>Số điện thoại</b></label>
                                <p th:text="${order.phone}"></p>
                            </div>
                            <div class="form-group">
                                <label for="address"><b>Địa chỉ nhận hàng</b></label>
                                <p th:text="${order.address}"></p>
                            </div>
                            <div class="form-group">
                                <label for="note"><b>Ghi chú của khách hàng</b></label>
                                <p th:text="${order.note}"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
        </div>

    </div>

</body>

</html>