<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>      
            <!-- list-product -->
            <div class="list-product" layout:fragment="content">
                <h2>Danh sách sản phẩm</h2>
                <hr>
                <a th:href="@{/admin/product/add}" class="btn btn-success">Thêm mới sản phẩm</a>

                <div th:if="${message != null}" class="alert alert-success mt-3" role="alert">
                    <i>[[${message}]]</i>
                </div>
                <div th:if="${error != null}" class="alert alert-danger mt-3" role="alert">
                    <i>[[${error}]]</i>
                </div>
                <div th:if="${!productPage.hasContent()}" class="alert alert-danger mt-3" role="alert">
                    <i>Tên loại hàng không tồn tại</i>
                </div>

                <form th:action="@{/admin/product}" class="col-10 mb-3 mt-5">
                    <div class="row">
                        <input type="text" class="form-control col-8" 
                        name="name" placeholder="Tên sản phẩm">
                        <button class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
                <table class="table table-bordered table-striped" th:if="${productPage.hasContent()}">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá sản phẩm</th>
                            <th>Giảm giá</th>
                            <th>Trạng thái</th>
                            <th>Loại hàng</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-list-product">
                        <tr th:each="item, isStat : ${productPage.content}">
                            <td class="td-img">
                                <img th:src="@{${'/upload/' + item.image}}" alt="">
                            </td>
                            <td class="td-id">[[${item.productId}]]</td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${#numbers.formatDecimal(item.unitPrice, 0, 'POINT', 0, 'POINT')}"></td>
                            <td th:text="${item.discount}"></td>
                            <td th:text="${item.status} == 0 ? 'Còn hàng' : 'Hết hàng'"></td>
                            <td th:text="${item.category.categoryName}"></td>
                            <td>
                                <a th:href="@{'/admin/product/edit/' + ${item.productId}}" class="btn btn-outline-info ml-3"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a  th:data-id="${item.productId}" 
                                    th:data-name="${item.name}"
                                    onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                                    class="btn btn-outline-danger ml-3"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <script>
                    function showConfirmModalDialog(id, name) {
                        $('#productName').text(name);
                        $('#yesOption').attr('href', '/polyshop/admin/product/delete/' + id);
                        $('#confirmDeleteProduct').modal('show');
                    }
                </script>

                <!-- modal -->
                <div class="modal fade" id="confirmDeleteProduct" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Xác nhận thông tin</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Bạn muốn xóa sản phẩm "<strong id="productName"></strong>"?
                        </div>
                        <div class="modal-footer">
                            <a id="yesOption" type="button" class="btn btn-danger mr-3">Xóa</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                <form action="">
                    <div class="form-inline float-left">
                        <label for="size" class="mr-3">Page Size: </label>
                        <select name="size" id="size" class="form-control" 
                            onchange="this.form.submit()">
                            <option th:selected="${productPage.size == 5}" value="5">5</option>
                            <option th:selected="${productPage.size == 10}" value="10">10</option>
                            <option th:selected="${productPage.size == 15}" value="15">15</option>
                            <option th:selected="${productPage.size == 20}" value="20">20</option>
                            <option th:selected="${productPage.size == 30}" value="30">30</option>
                        </select>
                    </div>
                </form>
                
                    <nav aria-label="Page navigation" 
                    th:if="${productPage.totalPages > 0}">
                    <ul class="pagination justify-content-center">
                    <li th:class="${1 == productPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/admin/product(name=${productName}, size=${productPage.size}, page=${1})}" class="page-link">First</a>
                    </li>
                    
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" 
                        th:if="${productPage.totalPages > 1}"
                        th:class = "${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/admin/product(name=${productName}, size=${productPage.size}, page=${pageNumber})}" class="page-link"
                        th:text="${pageNumber}" ></a>
                    </li>
                    
                    <li th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/admin/product(name=${productName}, size=${productPage.size}, page=${productPage.totalPages})}" class="page-link">Last</a>
                    </li>
                    </ul>
                </nav>
            </div>
</body>

</html>