<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutSite.html}">

<head>
</head>
    
<body>
    
    <div class="register-page" layout:fragment="content">
        <div class="offset-1 mb-4">
            <a class="home-page-link" th:href="@{/home}">Trang chủ</a> / 
            <a class="extra-page-link" th:href="@{/forgot}">Quên mật khẩu</a>
        </div>
        <div class="col-8 offset-2">
            <h3 class="mb-4">Quên mật khẩu</h3>
            <form th:action="@{/forgot}" class="form-register" 
                th:object="${account}" method="post">
                <div class="row">
                    <div class="col-6 text-center">
                        <img src="/polyshop/images/logo.png" width="150px"> <br>
                        <h2 style="color: #cd1817; font-weight: 700;">PolyShop</h2><br>
                        <h5>Giá trị tích lũy niềm tin</h5>
                    </div>
                    <div class="col-6">
                        <div th:if="${message != null}" class="alert alert-success" role="alert">
                            <i>[[${message}]]</i>
                        </div>
                        <div th:if="${error != null}" class="alert alert-danger" role="alert">
                            <i>[[${error}]]</i>
                        </div>
                        <div class="form-group">
                            <label for="username">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="username" 
                                th:field="*{username}">
                            <small th:if="${#fields.hasErrors('username')}">
                                Tên đăng nhập không được để trống!
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" 
                                th:field="*{email}">
                            <small th:if="${#fields.hasErrors('email')}">
                                Email không được để trống!
                            </small>
                        </div>
                        <button class="btn btn-danger" 
                            style="margin-top: 10px; width: 100%; padding: 10px 0; font-size: 18px; font-weight: 600;">
                           Lấy mật khẩu</button>
                    </div>
                </div>
                <hr>
                    <p class="text-center">Vui lòng nhập đúng thông tin để nhận lại mật khẩu qua Email của bạn!</a>
                    </p>
            </form>
        </div>
    </div>

</body>

</html>